{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}


  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 bg-light p-4 rounded">
        <!-- Adding Flash message here for users trying to register twice -->
         <h2 class="text-center mb-4">Log In</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flash alert alert-danger">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="col-lg-8 col-md-10 mx-auto">
          <!--Rendering login form here-->
          <form method="POST" action="{{ url_for('login') }}" novalidate>
            {{render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
          </form>
        </div>
      </div>
    </div>
  </div>

{% include "footer.html" %}